body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 220px;
  background: #020617;
  height: 100vh;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
  color: #94a3b8;
}

.sidebar li:hover {
  color: #22c1ff;
}

/* MAIN */
.main {
  flex: 1;
  padding: 40px;
}

/* PANELS */
.panel {
  display: none;
}

.panel.active {
  display: block;
}

/* CARD */
.card {
  background: #111827;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* IMAGES */
.images.compact {
  display: flex;
  gap: 8px;
}

.images.compact img {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  border-radius: 6px;
}

/* SKILLS */
.skills span {
  background: #111827;
  padding: 6px 10px;
  margin: 5px;
  display: inline-block;
}
